.App {
  text-align: center;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.full {
  width: 100vw;
  height: 100vh;
}

.search {
  text-align: left;
  position: absolute;
  top: 20px;
  left: 20px;
  width: 300px;
}

.bottom-panel {
	text-align: left;
  position: absolute;
  bottom: 20px;
  left: 20px;
}

.clear-button {
	margin-top: 12px;
}

.details {
	font-size: 0.8rem;
	color: lightgrey;
}