.App {
  text-align: center;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.full {
  width: 100vw;
  height: 100vh;
}

.infobox {
  text-align: left;
  position: absolute;
  top: 20px;
  left: 20px;
}

.search {
  display: flex;
}

.flag {
  margin-right: 8px;
}

.details {
	font-size: 0.8rem;
	color: lightgrey;
  margin-top: 10px;
}